@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::selection{
  color: #fff;
  background: #664AFF;
}
.wrapper{
  max-width: 500px;
  margin: 15px auto;
  padding-bottom: 30px;
}
form {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 2px #ccc;
}

datalist {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 14px;
  z-index: 1;
}

#search-box {
  padding: 12px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 0 1px #ccc;
  width: 100%;
  box-sizing: border-box;
}

#search-button {
  width: 25%;
  padding: 12px;
  font-size: 16px;
  background-color: #303849;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 1px #ccc;
}

#search-button:hover {
  background-color: #555;
}

#title-name{
  color: white;
}

#allfiles{
  padding-bottom: 30px;
}

#searchfor{
  background-color: #e2e2e2;
  background-size: 100%, 100%;
  padding-top: 20px;
  margin-top: 5px;
  margin-bottom: -5px;
}

#section1{
  background-image: url(https://images.pexels.com/photos/7254428/pexels-photo-7254428.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  color: white;
}

@media (max-width: 600px) {
  #search-box {
    width: 90%;
  }
  #search-button {
    width: 10%;
  }
}
